/*-------------------- STYLE GUIDE --------------------*/
/*-------------------- VARIABLES --------------------*/
/*-------------------- FONTS --------------------*/
@font-face {
  font-family: "Oxygen";
  src: url("../../fonts/Oxygen-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Oxygen";
  src: url("../../fonts/Oxygen-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Black.ttf");
  font-style: normal;
  font-weight: 900;
}

* {
  font-family: "Oxygen";
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: linear-gradient(135deg, #fad7a1, #e96d71);
  display: flex;
  margin: 0;
  height: 1000px;
}

section {
  display: inline-block;
  border: 1px solid #000;
  height: 800px;
  width: 47.5%;
  margin: 1%;
}

h1,
h2,
h3,
h4,
h5,
button {
  font-weight: bold;
}

h1 {
  font-size: 95px;
  line-height: 153.71px;
}

h2 {
  font-size: 59px;
  line-height: 95.46px;
}

h3 {
  font-size: 48px;
  line-height: 77.66px;
}

h4 {
  font-size: 34px;
  line-height: 55.01px;
}

h5 {
  font-size: 24px;
  line-height: 38.83px;
}

p {
  font-size: 16px;
  line-height: 25.89px;
}

button {
  align-items: center;
  border: 2px solid #0f0a0a;
  border-radius: 90px;
  box-sizing: border-box;
  display: flex;
  filter: drop-shadow(-4px 4px 14px rgba(0, 0, 0, 0.25));
  flex-direction: column;
  font-size: 14px;
  height: 49px;
  justify-content: center;
  line-height: 22.65px;
  outline: none;
  padding: 0px;
  text-align: center;
}

button.primary {
  background-color: #42e2b8;
  width: 111px;
}

button.secondary {
  background-color: transparent;
  width: 142px;
}

button:hover {
  cursor: pointer;
}
