/*-------------------- VARIABLES --------------------*/
/*-------------------- FONTS --------------------*/
@font-face {
  font-family: "Oxygen";
  src: url("../../fonts/Oxygen-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Oxygen";
  src: url("../../fonts/Oxygen-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Black.ttf");
  font-style: normal;
  font-weight: 900;
}

/*-------------------- GLOBAL --------------------*/
* {
  font-family: "Oxygen";
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(135deg, #fad7a1, #e96d71);
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  height: 1017px;
}

button {
  align-items: center;
  border: 2px solid #0f0a0a;
  border-radius: 90px;
  box-sizing: border-box;
  display: flex;
  filter: drop-shadow(-4px 4px 14px rgba(0, 0, 0, 0.25));
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  height: 49px;
  justify-content: center;
  line-height: 22.65px;
  outline: none;
  padding: 0px;
  text-align: center;
}

button.primary {
  background-color: #42e2b8;
  width: 151px;
}

button.secondary {
  background-color: transparent;
  width: 142px;
}

button:hover {
  cursor: pointer;
}

button:active {
  filter: none;
}

/*-------------------- HEADER --------------------*/
header {
  align-items: center;
  display: flex;
  height: 49px;
  padding: 16px;
  width: 100%;
}

header .logo {
  font-family: "Poppins";
  font-size: 24px;
  text-transform: uppercase;
  line-height: 49px;
}

header button {
  position: absolute;
  top: 16px;
  right: 16px;
}

/*-------------------- MAIN --------------------*/
#aboutMe {
  height: 681px;
  width: 328px;
}

#person {
  position: relative;
  width: 100%;
  height: 297px;
}

#foto {
  position: absolute;
  width: 213px;
  height: auto;
  left: 63px;
  top: 13px;
  z-index: 4;
  clip-path: circle(120px);
}

#fondo1 {
  position: absolute;
  width: 310px;
  height: auto;
  left: 8px;
  top: 45px;
  z-index: 0;
}

#fondo2 {
  position: absolute;
  width: 250px;
  height: auto;
  left: 50px;
  top: 25px;
  z-index: 2;
}

/*-------------------- FOOTER --------------------*/
