/*-------------------- FOOTER --------------------*/
footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  padding: 16px;
  p {
    margin-top: 50px;
    text-align: center;
  }
}
