/*-------------------- GLOBAL --------------------*/
/*---------- Generales ----------*/
* {
  font-family: "Oxygen";
  font-weight: normal;
  font-style: normal;
}
body {
  background: $fondo;
  display: flex;
  flex-direction: column;
  margin: 0;
}
footer,
header,
main {
  width: calc(100% - 32px);
}
img {
  height: auto;
  width: calc(100% - 32px);
}
/*---------- Textos ----------*/
h2,
h3 {
  margin: 0;
}
h2 {
  font-size: 59px;
  line-height: 95.46px;
}
h3 {
  font-size: 48px;
  line-height: 77.66px;
}

h5 {
  background-color: #000;
  box-shadow: -4px 4px 0 #fff;
  color: $color-primary;
  font-size: 24px;
  font-weight: bold;
  height: 47px;
  line-height: 38.83px;
  text-align: center;
  width: 258px;
}

p {
  font-size: 16px;
  line-height: 25.89px;
}
/*---------- Botones ----------*/
.button {
  align-items: center;
  border: 2px solid #0f0a0a;
  border-radius: 90px;
  box-sizing: border-box;
  display: flex;
  filter: drop-shadow(-4px 4px 14px rgba(0, 0, 0, 0.25));
  flex-direction: row;
  font-size: 14px;
  font-weight: bold;
  height: 49px;
  justify-content: center;
  line-height: 22.65px;
  outline: none;
  padding: 0px;
  text-align: center;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
  &:active {
    filter: none;
  }
}

.primary {
  background-color: $color-primary;
}
.secondary {
  background-color: transparent;
}

/*---------- RRSS ----------*/
.mySocials {
  height: 44px;
  width: 224px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  a {
    border-radius: 5px;
    filter: none;
    height: 44px;
    width: 44px;
    &:hover {
      filter: opacity(75%);
    }
  }
  img {
    height: 24px;
    width: auto;
  }
}
