/*-------------------- HEADER --------------------*/

header {
  align-items: center;
  display: flex;
  height: 49px;
  padding: 16px;
  width: calc(100% - 32px);
  .logo {
    font-family: "Poppins";
    font-size: 24px;
    text-transform: uppercase;
    line-height: 49px;
  }
  button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 151px !important;
  }
}
