/*-------------------- HEADER --------------------*/

header {
  background: $fondo-header;
  align-items: center;
  display: flex;
  height: 49px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  .logo {
    font-family: "Poppins";
    font-size: 24px;
    text-transform: uppercase;
    line-height: 49px;
  }
  nav {
    display: none;
    width: 300px;
    margin-left: 25%;
    ul {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
    li {
      list-style: none;
    }
    a {
      font-size: 14px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      opacity: 0.5;
    }
    a.active {
      opacity: 1;
    }
  }
  button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 151px !important;
  }
}
